@model IndexViewModel
@{
	ViewData["Title"] = "Yellow";
}

<a href=""><img id="banner" src="~/images/banners/1.jpg"></a>
<div class="clearfix">
	<a href="" class="hotcategory">
		<span>iPhone</span>
		<img src="images/hotcategories/1/iphone.png" alt="iPhone" />
	</a>
	<a href="" class="hotcategory">
		<span>Macbook Pro</span>
		<img src="images/hotcategories/1/macbook.png" alt="Macbook Pro" />
	</a>
	<a href="" class="hotcategory">
		<span>iPad</span>
		<img src="images/hotcategories/1/ipad.png" alt="iPad" />
	</a>
	<a href="" class="hotcategory">
		<span>Apple Watch</span>
		<img src="images/hotcategories/1/watch.png" alt="Apple Watch" />
	</a>
</div>
<h2>Apple</h2>
<div class="grid">
	@foreach (Product product in Model.AppleProducts)
	{
		<div class="item">
			<img src="@product.ImageURL" />
			<div class="item-info">
				<div class="item-name-container">
					<a href="" class="item-name">@product.Name</a>
				</div>
				<span class="item-price">@product.Price грн.</span>
				<a class="item-buy">Купить</a>
			</div>
		</div>
	}
</div>

<div class="clearfix">
	<a href="" class="hotcategory">
		<span>TV 4K</span>
		<img src="images/hotcategories/2/tv-4k.png" alt="TV 4K" />
	</a>
	<a href="" class="hotcategory">
		<span>Xiaomi</span>
		<img src="images/hotcategories/2/xiaomi_20_1.png" alt="Xiaomi" />
	</a>
	<a href="" class="hotcategory">
		<span>Samsung</span>
		<img src="images/hotcategories/2/samsung_2020.png" alt="Samsung" />
	</a>
	<a href="" class="hotcategory">
		<span>Акустика</span>
		<img src="images/hotcategories/2/acoustic.png" alt="Акустика" />
	</a>
</div>
<h2>Новинки</h2>
<div class="grid">
	@foreach (Product product in Model.NewProducts)
	{
		<div class="item">
			<img src="@product.ImageURL" />
			<div class="item-info">
				<div class="item-name-container">
					<a href="" class="item-name">@product.Name</a>
				</div>
				<span class="item-price">@product.Price грн.</span>
				<a class="item-buy">Купить</a>
			</div>
		</div>
	}
</div>
@section Scripts
{
	<script>
		var bannerId = 1;
		setInterval(() => {
			bannerId = bannerId == 6 ? 1 : bannerId + 1;
			$('#banner').attr('src', 'images/banners/' + bannerId + '.jpg');
		}, 4000);
	</script>
}
